*{
  text-align: right
}

.remove-btn{
  margin-right: 0.5rem;
}

.rounded-btn{
  border-radius: 50%;
}

.btn-group-sm>.btn, .btn-sm {
  padding: 0.1rem 0.4rem;
}

.fadeIn-enter{
  opacity: 0.01;
}

.fadeIn-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadeIn-exit{
  opacity: 1;
}

.fadeIn-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.floating-icon{
  display: block;
  position: fixed;
  color: #A6D8BE;
  z-index: 1;
  bottom: 10%;
  right: 10%;
  background-color: white;
  border-radius: 50%;
}

.floating-icon:hover{
  color: #F0EADD;
}

.plus-service{
  display: inline;
  color: #A6D8BE;
  z-index: 3;
}

.bg-torqiz{
  background-color: #A6D8BE;
}

.bg-torqiz-light{
  background-color: #F0EADD;
}

.btn-torqiz{
  background-color: #F0EADD;
  border-color: #4B4B4D;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.btn-torqiz:hover{
  background-color: #F0EADD;
  border-color: #DE4E41;
}

.hor-gap{
  margin-right: 5px;
  margin-left: 5px;
}
.grey-text{
  color: grey;
}

.hide {
  display: none;
}

.card-buttons{
  display: flex;
  justify-content: space-between;
}

.fa-trash-alt, .fa-edit, .fa-copy, .fa-expand{
  color: #DE4E41;
}

.quote-card{
  margin: 1.5rem;
  width: 300px;
}
.quotes-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hebrow-header{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.spinner-modal{
  background-color: rgba(0,0, 0, 0.2);
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-circle-notch{
  color: #F0EADD;
}